<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>card/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,823},{23,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,33}</string>
			</dict>
			<key>card/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,858},{23,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,33}</string>
			</dict>
			<key>card/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,823},{23,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,33}</string>
			</dict>
			<key>card/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,858},{23,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,33}</string>
			</dict>
			<key>card/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,999},{23,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,33}</string>
			</dict>
			<key>card/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,999},{23,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,33}</string>
			</dict>
			<key>card/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,999},{23,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,33}</string>
			</dict>
			<key>card/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,999},{23,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,33}</string>
			</dict>
			<key>card/0A.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,823},{23,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,33}</string>
			</dict>
			<key>card/0J.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,858},{23,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,33}</string>
			</dict>
			<key>card/0K.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,769},{23,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,33}</string>
			</dict>
			<key>card/0Q.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,804},{23,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,33}</string>
			</dict>
			<key>card/0T.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,769},{23,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,33}</string>
			</dict>
			<key>card/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,804},{23,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,33}</string>
			</dict>
			<key>card/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,769},{23,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,33}</string>
			</dict>
			<key>card/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,839},{23,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,33}</string>
			</dict>
			<key>card/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,804},{23,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,33}</string>
			</dict>
			<key>card/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,769},{23,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,33}</string>
			</dict>
			<key>card/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,741},{23,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,33}</string>
			</dict>
			<key>card/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,968},{23,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,33}</string>
			</dict>
			<key>card/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,993},{23,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,33}</string>
			</dict>
			<key>card/A.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,968},{23,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,33}</string>
			</dict>
			<key>card/back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,888},{130,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,178}</string>
			</dict>
			<key>card/c.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,1},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>card/cs.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,804},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,28}</string>
			</dict>
			<key>card/d.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,1},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>card/ds.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,766},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,28}</string>
			</dict>
			<key>card/face.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,643},{95,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,124}</string>
			</dict>
			<key>card/face_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,643},{130,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,178}</string>
			</dict>
			<key>card/h.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,1},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>card/hs.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,834},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,28}</string>
			</dict>
			<key>card/J.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,993},{23,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,33}</string>
			</dict>
			<key>card/Jc.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,766},{66,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,90}</string>
			</dict>
			<key>card/Jd.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,858},{66,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,90}</string>
			</dict>
			<key>card/Jh.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,950},{66,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,90}</string>
			</dict>
			<key>card/Js.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,643},{66,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,90}</string>
			</dict>
			<key>card/K.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,968},{23,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,33}</string>
			</dict>
			<key>card/Kc.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,735},{66,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,90}</string>
			</dict>
			<key>card/Kd.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,643},{66,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,90}</string>
			</dict>
			<key>card/Kh.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,827},{66,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,90}</string>
			</dict>
			<key>card/Ks.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,735},{66,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,90}</string>
			</dict>
			<key>card/Q.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,993},{23,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,33}</string>
			</dict>
			<key>card/Qc.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,919},{66,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,90}</string>
			</dict>
			<key>card/Qd.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,827},{66,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,90}</string>
			</dict>
			<key>card/Qh.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,919},{66,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,90}</string>
			</dict>
			<key>card/Qs.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,1},{66,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,90}</string>
			</dict>
			<key>card/s.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,1},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>card/ss.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,796},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,28}</string>
			</dict>
			<key>card/T.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,839},{23,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,33}</string>
			</dict>
			<key>gold/gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,823},{57,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,60}</string>
			</dict>
			<key>gold/border.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,643},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>gold/head-mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,874},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>common/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,1},{70,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,71}</string>
			</dict>
			<key>common/dialog-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,643},{107,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,243}</string>
			</dict>
			<key>common/light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,502},{566,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{566,139}</string>
			</dict>
			<key>common/second-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{170,499}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,499}</string>
			</dict>
			<key>gold/border1.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,883},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>common.png</string>
			<key>realTextureFileName</key>
			<string>common.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>