<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>card/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,782},{33,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,50}</string>
			</dict>
			<key>card/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,782},{33,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,50}</string>
			</dict>
			<key>card/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,782},{33,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,50}</string>
			</dict>
			<key>card/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,782},{33,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,50}</string>
			</dict>
			<key>card/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,782},{33,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,50}</string>
			</dict>
			<key>card/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,782},{33,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,50}</string>
			</dict>
			<key>card/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,782},{33,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,50}</string>
			</dict>
			<key>card/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,279},{33,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,50}</string>
			</dict>
			<key>card/0A.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,331},{33,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,50}</string>
			</dict>
			<key>card/0J.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,418},{33,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,50}</string>
			</dict>
			<key>card/0K.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,453},{33,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,50}</string>
			</dict>
			<key>card/0Q.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,373},{33,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,50}</string>
			</dict>
			<key>card/0T.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,454},{33,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,50}</string>
			</dict>
			<key>card/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,454},{33,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,50}</string>
			</dict>
			<key>card/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,425},{33,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,50}</string>
			</dict>
			<key>card/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,383},{33,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,50}</string>
			</dict>
			<key>card/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,435},{33,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,50}</string>
			</dict>
			<key>card/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,383},{33,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,50}</string>
			</dict>
			<key>card/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,435},{33,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,50}</string>
			</dict>
			<key>card/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,487},{33,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,50}</string>
			</dict>
			<key>card/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,539},{33,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,50}</string>
			</dict>
			<key>card/A.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,591},{33,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,50}</string>
			</dict>
			<key>card/back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,888},{130,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,178}</string>
			</dict>
			<key>card/c.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,643},{113,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,137}</string>
			</dict>
			<key>card/cs.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,747},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>card/d.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,643},{113,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,137}</string>
			</dict>
			<key>card/ds.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,779},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>card/face.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,643},{130,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,178}</string>
			</dict>
			<key>card/face_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,877},{130,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,178}</string>
			</dict>
			<key>card/h.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,871},{113,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,137}</string>
			</dict>
			<key>card/hs.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,747},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>card/J.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,353},{33,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,50}</string>
			</dict>
			<key>card/Jc.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,643},{113,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,137}</string>
			</dict>
			<key>card/Jd.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,871},{113,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,137}</string>
			</dict>
			<key>card/Jh.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,871},{113,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,137}</string>
			</dict>
			<key>card/Js.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,1},{113,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,137}</string>
			</dict>
			<key>card/K.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,405},{33,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,50}</string>
			</dict>
			<key>card/Kc.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,1},{113,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,137}</string>
			</dict>
			<key>card/Kd.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,1},{113,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,137}</string>
			</dict>
			<key>card/Kh.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,1},{113,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,137}</string>
			</dict>
			<key>card/Ks.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,116},{113,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,137}</string>
			</dict>
			<key>card/Q.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,643},{33,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,50}</string>
			</dict>
			<key>card/Qc.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,116},{113,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,137}</string>
			</dict>
			<key>card/Qd.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,116},{113,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,137}</string>
			</dict>
			<key>card/Qh.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,140},{113,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,137}</string>
			</dict>
			<key>card/Qs.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,231},{113,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,137}</string>
			</dict>
			<key>card/s.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,231},{113,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,137}</string>
			</dict>
			<key>card/ss.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,779},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>card/T.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,695},{33,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,50}</string>
			</dict>
			<key>gold/gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,823},{57,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,60}</string>
			</dict>
			<key>gold/border.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,255},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>gold/head-mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,279},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>common/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,346},{70,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,71}</string>
			</dict>
			<key>common/dialog-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,643},{107,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,243}</string>
			</dict>
			<key>common/light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,502},{566,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{566,139}</string>
			</dict>
			<key>common/second-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{170,499}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,499}</string>
			</dict>
			<key>gold/border1.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,370},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>loading/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,823},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>loading/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,823},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>loading/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,817},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>loading/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,817},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>loading/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,817},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>loading/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,817},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>loading/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,817},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>loading/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,817},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>loading/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,817},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>loading/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,346},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>loading/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,373},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>loading/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,400},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>common.png</string>
			<key>realTextureFileName</key>
			<string>common.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>