<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>seat/cardtype-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1721,649},{362,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{362,114}</string>
			</dict>
			<key>seat/name-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1900,1199},{175,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{175,69}</string>
			</dict>
			<key>seat/level-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1971,1199},{62,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,23}</string>
			</dict>
			<key>seat/dealer.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,1219},{51,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,55}</string>
			</dict>
			<key>room/btn-green.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1280},{113,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,87}</string>
			</dict>
			<key>room/btn-yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,1280},{113,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,87}</string>
			</dict>
			<key>room/calculate-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1642,649},{555,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{555,77}</string>
			</dict>
			<key>room/content-ctype.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,305},{405,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{405,470}</string>
			</dict>
			<key>room/clock-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,843},{116,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,116}</string>
			</dict>
			<key>room/clock.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,712},{116,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,116}</string>
			</dict>
			<key>room/dialog-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,608},{72,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,71}</string>
			</dict>
			<key>room/loser-light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{505,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{505,500}</string>
			</dict>
			<key>room/loser.png</key>
			<dict>
				<key>frame</key>
				<string>{{1663,1},{646,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{646,248}</string>
			</dict>
			<key>room/sys-msg-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2004},{33,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,50}</string>
			</dict>
			<key>room/win-light.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,1},{505,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{505,500}</string>
			</dict>
			<key>room/win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,1},{646,302}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{646,302}</string>
			</dict>
			<key>menu/back-hall.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,1219},{49,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,38}</string>
			</dict>
			<key>menu/btn-bx.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,1958},{76,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,70}</string>
			</dict>
			<key>menu/btn-cardtype.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,1979},{71,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,65}</string>
			</dict>
			<key>menu/btn-chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1998,1106},{55,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,48}</string>
			</dict>
			<key>menu/btn-task.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,608},{62,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,71}</string>
			</dict>
			<key>menu/change-room.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,1219},{50,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,42}</string>
			</dict>
			<key>menu/menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,1219},{51,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,33}</string>
			</dict>
			<key>menu/menu-btn-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,1958},{71,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,76}</string>
			</dict>
			<key>menu/transparent.png</key>
			<dict>
				<key>frame</key>
				<string>{{1996,1232},{152,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,51}</string>
			</dict>
			<key>seat/dealer-light.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,1857},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>login/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,1857},{139,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,99}</string>
			</dict>
			<key>login/green-btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1913,1},{453,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{453,114}</string>
			</dict>
			<key>login/guest.png</key>
			<dict>
				<key>frame</key>
				<string>{{1837,649},{314,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{314,61}</string>
			</dict>
			<key>login/qq.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,1979},{67,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,67}</string>
			</dict>
			<key>login/qs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1837,965},{313,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{313,61}</string>
			</dict>
			<key>login/wchat.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,1280},{86,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,72}</string>
			</dict>
			<key>login/yellow-btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1913,456},{453,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{453,114}</string>
			</dict>
			<key>task/mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{2032,182},{170,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{170,8}</string>
			</dict>
			<key>task/pro-item.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1857},{145,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,145}</string>
			</dict>
			<key>task/progress-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1642,305},{181,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{181,19}</string>
			</dict>
			<key>task/progress.png</key>
			<dict>
				<key>frame</key>
				<string>{{2029,1},{179,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,17}</string>
			</dict>
			<key>top/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2032,354},{10,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,96}</string>
			</dict>
			<key>top/buy.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,1219},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>top/email.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1219},{65,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,55}</string>
			</dict>
			<key>top/gold-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,2004},{30,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,47}</string>
			</dict>
			<key>top/seting.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,503},{64,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,65}</string>
			</dict>
			<key>roomlist/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1376},{479,294}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{479,294}</string>
			</dict>
			<key>roomlist/item-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1998,1016},{35,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,88}</string>
			</dict>
			<key>roomlist/item-light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1721,1013},{204,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,102}</string>
			</dict>
			<key>roomlist/min-buying-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,1219},{46,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,37}</string>
			</dict>
			<key>roomlist/quickstart.png</key>
			<dict>
				<key>frame</key>
				<string>{{1900,911},{96,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,286}</string>
			</dict>
			<key>userinfo/black-light.png</key>
			<dict>
				<key>frame</key>
				<string>{{2029,182},{596,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{596,1}</string>
			</dict>
			<key>userinfo/head-tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{1998,911},{103,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,34}</string>
			</dict>
			<key>userinfo/paper.png</key>
			<dict>
				<key>frame</key>
				<string>{{1487,305},{153,536}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,536}</string>
			</dict>
			<key>userinfo/prop-item-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,503},{100,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,103}</string>
			</dict>
			<key>userinfo/text-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,2004},{30,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,37}</string>
			</dict>
			<key>userinfo/boy.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,2004},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>userinfo/girl.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,682},{24,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,32}</string>
			</dict>
			<key>userinfo/edit-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1998,1163},{67,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,37}</string>
			</dict>
			<key>userinfo/edit.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,682},{24,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,29}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>room.png</string>
			<key>realTextureFileName</key>
			<string>room.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>