<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>seat/cardtype-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,1385},{362,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{362,114}</string>
			</dict>
			<key>seat/name-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1305,229},{175,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,69}</string>
			</dict>
			<key>seat/level-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,1027},{62,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,23}</string>
			</dict>
			<key>seat/dealer.png</key>
			<dict>
				<key>frame</key>
				<string>{{1552,1906},{51,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,55}</string>
			</dict>
			<key>room/btn-green.png</key>
			<dict>
				<key>frame</key>
				<string>{{1636,134},{113,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,87}</string>
			</dict>
			<key>room/btn-yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1751,134},{113,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,87}</string>
			</dict>
			<key>room/calculate-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,229},{555,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{555,77}</string>
			</dict>
			<key>room/content-ctype.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1104},{405,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{405,470}</string>
			</dict>
			<key>room/clock-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1306,1191},{116,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,116}</string>
			</dict>
			<key>room/clock.png</key>
			<dict>
				<key>frame</key>
				<string>{{1315,1061},{116,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,116}</string>
			</dict>
			<key>room/dialog-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1559,1288},{72,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,71}</string>
			</dict>
			<key>room/loser.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1576},{646,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{646,248}</string>
			</dict>
			<key>room/sys-msg-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,1052},{33,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,50}</string>
			</dict>
			<key>room/win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,456},{646,302}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{646,302}</string>
			</dict>
			<key>menu/back-hall.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,1981},{49,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,38}</string>
			</dict>
			<key>menu/btn-bx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1752,223},{76,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,70}</string>
			</dict>
			<key>menu/btn-cardtype.png</key>
			<dict>
				<key>frame</key>
				<string>{{1601,229},{71,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,65}</string>
			</dict>
			<key>menu/btn-chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1327,1494},{55,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,48}</string>
			</dict>
			<key>menu/btn-task.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,1027},{62,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,71}</string>
			</dict>
			<key>menu/change-room.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,1053},{50,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,42}</string>
			</dict>
			<key>menu/menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,892},{51,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,33}</string>
			</dict>
			<key>menu/menu-btn-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1674,223},{71,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,76}</string>
			</dict>
			<key>menu/transparent.png</key>
			<dict>
				<key>frame</key>
				<string>{{1398,1915},{152,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,51}</string>
			</dict>
			<key>seat/dealer-light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1193,1069},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>login/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1068,586},{139,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,99}</string>
			</dict>
			<key>login/green-btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,937},{453,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{453,114}</string>
			</dict>
			<key>login/guest.png</key>
			<dict>
				<key>frame</key>
				<string>{{1059,1981},{314,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{314,61}</string>
			</dict>
			<key>login/qq.png</key>
			<dict>
				<key>frame</key>
				<string>{{1555,984},{67,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,67}</string>
			</dict>
			<key>login/qs.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,1501},{313,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{313,61}</string>
			</dict>
			<key>login/wchat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1452,910},{86,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,72}</string>
			</dict>
			<key>login/yellow-btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,332},{453,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{453,114}</string>
			</dict>
			<key>task/mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,2032},{170,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,8}</string>
			</dict>
			<key>task/pro-item.png</key>
			<dict>
				<key>frame</key>
				<string>{{1068,439},{145,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,145}</string>
			</dict>
			<key>task/progress-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,2023},{181,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,19}</string>
			</dict>
			<key>task/progress.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,2023},{179,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,17}</string>
			</dict>
			<key>top/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,308},{10,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{10,96}</string>
			</dict>
			<key>top/buy.png</key>
			<dict>
				<key>frame</key>
				<string>{{1994,197},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>top/email.png</key>
			<dict>
				<key>frame</key>
				<string>{{1417,1309},{65,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,54}</string>
			</dict>
			<key>top/gold-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,890},{30,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,47}</string>
			</dict>
			<key>top/seting.png</key>
			<dict>
				<key>frame</key>
				<string>{{1624,984},{64,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,65}</string>
			</dict>
			<key>roomlist/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,456},{479,294}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{479,294}</string>
			</dict>
			<key>roomlist/item-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,892},{35,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,88}</string>
			</dict>
			<key>roomlist/item-light.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,1375},{204,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,102}</string>
			</dict>
			<key>roomlist/min-buying-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,1052},{46,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,37}</string>
			</dict>
			<key>roomlist/quickstart.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,929},{96,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,286}</string>
			</dict>
			<key>userinfo/line.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,2042},{596,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{596,1}</string>
			</dict>
			<key>userinfo/head-tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,892},{103,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,34}</string>
			</dict>
			<key>userinfo/paper.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,1826},{153,536}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,536}</string>
			</dict>
			<key>userinfo/prop-item-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1875,620},{100,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,103}</string>
			</dict>
			<key>userinfo/text-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1209,659},{30,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,37}</string>
			</dict>
			<key>userinfo/boy.png</key>
			<dict>
				<key>frame</key>
				<string>{{1695,650},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>userinfo/girl.png</key>
			<dict>
				<key>frame</key>
				<string>{{1193,1797},{24,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,32}</string>
			</dict>
			<key>userinfo/edit-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,1053},{67,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,37}</string>
			</dict>
			<key>userinfo/edit.png</key>
			<dict>
				<key>frame</key>
				<string>{{1227,1797},{24,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,29}</string>
			</dict>
			<key>bank/input.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,890},{31,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,50}</string>
			</dict>
			<key>bank/line.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,2045},{1,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1,55}</string>
			</dict>
			<key>bank/tab-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1267,911},{183,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,71}</string>
			</dict>
			<key>bank/tab-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1209,586},{183,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,71}</string>
			</dict>
			<key>bank/tab-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1977,526},{68,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,59}</string>
			</dict>
			<key>bank/title-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1048,920},{217,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,77}</string>
			</dict>
			<key>bank/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1603,811},{84,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,95}</string>
			</dict>
			<key>task/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1420,828},{80,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,91}</string>
			</dict>
			<key>store/line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1294,984},{75,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,96}</string>
			</dict>
			<key>store/title-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,320},{10,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{10,88}</string>
			</dict>
			<key>store/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1088,1823},{392,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{392,90}</string>
			</dict>
			<key>store/item-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,1},{329,312}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{329,312}</string>
			</dict>
			<key>rank/address.png</key>
			<dict>
				<key>frame</key>
				<string>{{1993,64},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>rank/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1513,811},{93,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,88}</string>
			</dict>
			<key>rank/item-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,1053},{44,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,91}</string>
			</dict>
			<key>pay/apple.png</key>
			<dict>
				<key>frame</key>
				<string>{{1384,1494},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>pay/background.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,2032},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>pay/btn-back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,890},{28,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,42}</string>
			</dict>
			<key>pay/btn-other-selection.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,1053},{51,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,35}</string>
			</dict>
			<key>pay/btn-pay.png</key>
			<dict>
				<key>frame</key>
				<string>{{1248,659},{29,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,36}</string>
			</dict>
			<key>pay/btn-selected-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,2032},{4,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,4}</string>
			</dict>
			<key>pay/btn-selected-color.png</key>
			<dict>
				<key>frame</key>
				<string>{{1029,2032},{4,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,5}</string>
			</dict>
			<key>pay/btn-selected-symbol.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2023},{19,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,185}</string>
			</dict>
			<key>pay/btn-weixin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1248,1321},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>pay/btn-zhifubao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1431,1494},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>pay/line-horizontal.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,2045},{13,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,2}</string>
			</dict>
			<key>pay/line-vertical.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,2045},{1,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1,5}</string>
			</dict>
			<key>pay/up-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1059,2044},{4,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,3}</string>
			</dict>
			<key>rank/bg_me.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,1053},{42,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,91}</string>
			</dict>
			<key>rank/mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{1866,131},{81,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,81}</string>
			</dict>
			<key>rank/mask_me.png</key>
			<dict>
				<key>frame</key>
				<string>{{1949,114},{81,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,81}</string>
			</dict>
			<key>hall/activity.png</key>
			<dict>
				<key>frame</key>
				<string>{{1540,906},{76,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,86}</string>
			</dict>
			<key>hall/bank.png</key>
			<dict>
				<key>frame</key>
				<string>{{1906,214},{76,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,86}</string>
			</dict>
			<key>hall/menu-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,1981},{309,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{309,49}</string>
			</dict>
			<key>hall/more.png</key>
			<dict>
				<key>frame</key>
				<string>{{1628,897},{76,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,86}</string>
			</dict>
			<key>hall/online-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{431,453}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{431,453}</string>
			</dict>
			<key>hall/ranking.png</key>
			<dict>
				<key>frame</key>
				<string>{{1700,801},{76,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,86}</string>
			</dict>
			<key>hall/shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{1482,1818},{76,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,86}</string>
			</dict>
			<key>hall/tab1.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,1},{226,442}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,442}</string>
			</dict>
			<key>hall/tab2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1192,1},{226,442}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,442}</string>
			</dict>
			<key>hall/tab3.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,448},{226,442}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,442}</string>
			</dict>
			<key>store/gold1.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,308},{152,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,129}</string>
			</dict>
			<key>store/gold2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1043,308},{152,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,129}</string>
			</dict>
			<key>store/gold3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1197,308},{152,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,129}</string>
			</dict>
			<key>store/gold4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1215,439},{152,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,129}</string>
			</dict>
			<key>store/gold5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1351,300},{152,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,129}</string>
			</dict>
			<key>store/gold6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1369,431},{152,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,129}</string>
			</dict>
			<key>seting/arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,1027},{23,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,40}</string>
			</dict>
			<key>seting/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,1981},{154,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,58}</string>
			</dict>
			<key>seting/open.png</key>
			<dict>
				<key>frame</key>
				<string>{{1088,1915},{154,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,58}</string>
			</dict>
			<key>hall/point.png</key>
			<dict>
				<key>frame</key>
				<string>{{1286,659},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>loading/load-text.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,1501},{253,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,52}</string>
			</dict>
			<key>loading/point.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,308},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>chat/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1244,1915},{55,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,152}</string>
			</dict>
			<key>chat/btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1482,229},{117,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,66}</string>
			</dict>
			<key>chat/fast-down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1993,1},{61,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,54}</string>
			</dict>
			<key>chat/fast.png</key>
			<dict>
				<key>frame</key>
				<string>{{1193,1321},{53,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,46}</string>
			</dict>
			<key>chat/face-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1977,709},{59,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,57}</string>
			</dict>
			<key>chat/face-btn-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,1027},{72,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,61}</string>
			</dict>
			<key>chat/face-down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1478,1471},{57,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>chat/face.png</key>
			<dict>
				<key>frame</key>
				<string>{{1770,632},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>chat/his-down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1432,1759},{57,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>chat/his.png</key>
			<dict>
				<key>frame</key>
				<string>{{1821,632},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>chat/input.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,890},{26,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,62}</string>
			</dict>
			<key>chat/line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2044},{458,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{458,2}</string>
			</dict>
			<key>chat/tab-btn-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1347,1309},{68,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,53}</string>
			</dict>
			<key>chat/tab1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1375,1972},{68,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,201}</string>
			</dict>
			<key>chat/tab.png</key>
			<dict>
				<key>frame</key>
				<string>{{1091,999},{68,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,201}</string>
			</dict>
			<key>face/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1914,292},{106,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,104}</string>
			</dict>
			<key>face/110.png</key>
			<dict>
				<key>frame</key>
				<string>{{1505,297},{151,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,108}</string>
			</dict>
			<key>face/111.png</key>
			<dict>
				<key>frame</key>
				<string>{{1433,1060},{113,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,113}</string>
			</dict>
			<key>face/112.png</key>
			<dict>
				<key>frame</key>
				<string>{{1629,407},{127,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,126}</string>
			</dict>
			<key>face/113.png</key>
			<dict>
				<key>frame</key>
				<string>{{1327,1366},{106,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,126}</string>
			</dict>
			<key>face/114.png</key>
			<dict>
				<key>frame</key>
				<string>{{1432,1541},{107,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,102}</string>
			</dict>
			<key>face/116.png</key>
			<dict>
				<key>frame</key>
				<string>{{1432,1650},{107,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,101}</string>
			</dict>
			<key>face/117.png</key>
			<dict>
				<key>frame</key>
				<string>{{1757,1},{128,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,121}</string>
			</dict>
			<key>face/119.png</key>
			<dict>
				<key>frame</key>
				<string>{{1193,1191},{111,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,128}</string>
			</dict>
			<key>face/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1875,512},{106,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,100}</string>
			</dict>
			<key>face/120.png</key>
			<dict>
				<key>frame</key>
				<string>{{1800,295},{112,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,105}</string>
			</dict>
			<key>face/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1869,402},{106,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,108}</string>
			</dict>
			<key>face/130.png</key>
			<dict>
				<key>frame</key>
				<string>{{1757,402},{113,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,110}</string>
			</dict>
			<key>face/131.png</key>
			<dict>
				<key>frame</key>
				<string>{{1424,1179},{110,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,121}</string>
			</dict>
			<key>face/132.png</key>
			<dict>
				<key>frame</key>
				<string>{{1548,1056},{112,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,108}</string>
			</dict>
			<key>face/133.png</key>
			<dict>
				<key>frame</key>
				<string>{{1516,566},{139,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,118}</string>
			</dict>
			<key>face/134.png</key>
			<dict>
				<key>frame</key>
				<string>{{1657,536},{111,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,112}</string>
			</dict>
			<key>face/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1607,686},{113,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,113}</string>
			</dict>
			<key>face/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1722,684},{106,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,114}</string>
			</dict>
			<key>face/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1636,1},{131,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,119}</string>
			</dict>
			<key>face/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1435,1365},{128,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,104}</string>
			</dict>
			<key>interaction/dog.png</key>
			<dict>
				<key>frame</key>
				<string>{{1830,223},{74,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,69}</string>
			</dict>
			<key>interaction/egg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1977,400},{62,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,67}</string>
			</dict>
			<key>interaction/fenggou1.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,1093},{280,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{280,270}</string>
			</dict>
			<key>interaction/fenggou10.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,448},{237,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,241}</string>
			</dict>
			<key>interaction/fenggou11.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,1555},{266,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{266,255}</string>
			</dict>
			<key>interaction/fenggou12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1314,689},{135,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,137}</string>
			</dict>
			<key>interaction/fenggou2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1451,689},{154,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,120}</string>
			</dict>
			<key>interaction/fenggou3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1658,296},{140,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,104}</string>
			</dict>
			<key>interaction/fenggou4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1500,431},{133,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,127}</string>
			</dict>
			<key>interaction/fenggou5.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,1370},{179,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,186}</string>
			</dict>
			<key>interaction/fenggou6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1058,691},{254,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,218}</string>
			</dict>
			<key>interaction/fenggou7.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,1091},{235,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,277}</string>
			</dict>
			<key>interaction/fenggou8.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,1097},{274,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,286}</string>
			</dict>
			<key>interaction/fenggou9.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,1564},{260,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,285}</string>
			</dict>
			<key>interaction/flower.png</key>
			<dict>
				<key>frame</key>
				<string>{{1478,984},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,75}</string>
			</dict>
			<key>interaction/friend.png</key>
			<dict>
				<key>frame</key>
				<string>{{1484,1302},{60,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,73}</string>
			</dict>
			<key>interaction/hua.png</key>
			<dict>
				<key>frame</key>
				<string>{{1394,585},{120,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,102}</string>
			</dict>
			<key>interaction/hua2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1880,1},{111,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,111}</string>
			</dict>
			<key>interaction/info.png</key>
			<dict>
				<key>frame</key>
				<string>{{1977,464},{67,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,60}</string>
			</dict>
			<key>interaction/jidan.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,1027},{74,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,64}</string>
			</dict>
			<key>interaction/jidan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1314,828},{104,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,70}</string>
			</dict>
			<key>interaction/jidan3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1166,1370},{172,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,159}</string>
			</dict>
			<key>interaction/jidan4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1193,1544},{237,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,251}</string>
			</dict>
			<key>interaction/jidan5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1536,1175},{111,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,110}</string>
			</dict>
			<key>interaction/jidan6.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,691},{197,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{197,216}</string>
			</dict>
			<key>interaction/kiss.png</key>
			<dict>
				<key>frame</key>
				<string>{{1977,587},{60,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,65}</string>
			</dict>
			<key>interaction/qinwu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1770,517},{113,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,103}</string>
			</dict>
			<key>interaction/qinwu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1657,650},{36,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,32}</string>
			</dict>
			<key>interaction/qinwu3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1296,1321},{49,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,43}</string>
			</dict>
			<key>interaction/quan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1977,649},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>menu/px.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,2045},{2,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2,2}</string>
			</dict>
			<key>menu/back-dis.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,1053},{49,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,38}</string>
			</dict>
			<key>menu/change-dis.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,1053},{50,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,42}</string>
			</dict>
			<key>hall/more-pic.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1826},{547,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{547,195}</string>
			</dict>
			<key>hall/activity-title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1392,984},{74,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,84}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>room.png</string>
			<key>realTextureFileName</key>
			<string>room.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>